.root {
    -fx-background-color: linear-gradient(to bottom right, #1c2e4a, #2b5876);
}

.tab-pane {
    -fx-background-color: transparent;
}

.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color: transparent;
}

.tab {
    -fx-background-color: linear-gradient(to bottom, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.05));
    -fx-background-radius: 10 10 0 0;
    -fx-border-color: rgba(255, 255, 255, 0.3);
    -fx-border-width: 1 1 0 1;
    -fx-border-radius: 10 10 0 0;

    -fx-padding: 10 20 10 20;
    -fx-background-insets: 0;
}

.tab:hover {
    -fx-background-color: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.1));
    -fx-cursor: hand;
}

.tab:selected {
    -fx-background-color: linear-gradient(to bottom, rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.15));

    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.4), 10, 0, 0, 0);
    -fx-border-color: rgba(255, 255, 255, 0.5);
    -fx-border-width: 1 1 0 1;
}

.tab-label {
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-family: "Avenir";
}

.tab-content-area {
    -fx-background-color: linear-gradient(to bottom right, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.05));
    -fx-border-color: rgba(255, 255, 255, 0.3);
    -fx-border-width: 1;
    -fx-background-radius: 10 10 30 30;
    -fx-border-radius: 10 10 30 30;
}