.anchor-pane {
    -fx-font-family: "Inter";
    -fx-background-color: linear-gradient( #0d3d35, #f1f1f1);
}

.anchor-pane-top-bar {
    -fx-background-color: linear-gradient(to bottom right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1));
    -fx-background-radius: 60;
    -fx-border-radius: 60;
    -fx-border-color: rgba(255, 255, 255, 0.5);
    -fx-border-width: 0px;
}

.anchor-pane-sidebar {
    -fx-background-color: linear-gradient(to bottom right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1));
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-border-color: rgba(255, 255, 255, 0.5);
    -fx-border-width: 0px;
}

.text-field {
    -fx-background-color: white;
    -fx-border-color: #dcdcdc;
    -fx-border-radius: 40px;
    -fx-background-radius: 40px;
    -fx-padding: 8px 12px;
    -fx-font-size: 14px;
}

.text-field:focused {
    -fx-border-color: #4A90E2;
    -fx-effect: dropshadow(gaussian, rgba(74,144,226,0.25), 8, 0.2, 0, 2);
}

.button {
    -fx-background-color: #4A90E2;
    -fx-text-fill: white;
    -fx-padding: 10px 16px;
    -fx-font-size: 15px;
    -fx-font-weight: 600;
    -fx-background-radius: 20px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #3c7ac0;
}

.button:pressed {
    -fx-background-color: #306299;
}


.button2 {
    -fx-background-color: linear-gradient(to bottom right, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.2));
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-border-color: rgba(255, 255, 255, 0.7);
    -fx-border-width: 0px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 5, 0, 0, 3);
    -fx-cursor: hand;
}

.button2:hover {
    -fx-background-color: linear-gradient(to bottom right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.4), 10, 0, 0, 0);
}

.button2:pressed {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 2, 0, 0, 1);
    -fx-translate-y: 1;
}

.search-bar {
    -fx-background-color: linear-gradient(to bottom right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.2));
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-border-color: rgba(255, 255, 255, 0.7);
    -fx-border-width: 0px;
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
    -fx-font-weight: regular;
    -fx-padding: 10 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 5, 0, 0, 3);
    -fx-cursor: hand;
}

.search-bar:hover {
    -fx-background-color: linear-gradient(to bottom right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.4), 10, 0, 0, 0);
}

.search-bar:pressed {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 2, 0, 0, 1);
    -fx-translate-y: 1;
}